header {
  background-color: #2A2A2A
}

a {
  color: #D4D4D4;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-right: 12px;
}

img{
  margin-right: 100px;
}

.Active {
  background-color: #107698
  padding: 6px 14px;
  border-radius: 2px;
  color: white;
}
